<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>中移物联网路尚UBI个人系统</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div id="wrapper" class="clearfix">
  <div class="head">
    <div class="connect">
      <h1><i class="icon icon-mobile"></i>丨<i class="icon icon-ubi"></i>车联网UBI系统</h1>
    </div>
  </div>
  {% for item in name %}
  <div class="title" style="display: none;">
    <input type="hidden" class="userId" value="{{item.MO_ID}}">
    <div class="connect title_bg">
      <div class="head_mod">
        <div class="head_label" style="height: 280px;">
          <div class="head_span">年龄 - {{item.AGE}}岁</div>
          <div class="head_log">
            <span><img src="/images/{{item.VEHICLE_LOGO}}" alt="log"></span>
          </div>
          <div class="head_span" style="float: right;">驾龄 - {{item.DRIVING_EXPERIENCE}}年</div>
        </div>
        <div class="head_label">
          <h1>{{item.USER_NAME}}&nbsp;&nbsp;
            {% if(item.GENDER == '男') %}
            <i class="icon icon-boy"></i>
            {% else %}
            <i class="icon icon-girl"></i>
            {% endif %}
            丨&nbsp;&nbsp;车型 ： {{item.VEHICLE_MODEL}}</h1>
        </div>
        <div class="head_label head_speed">
          <span>
            <h1>{{item.DISPLACEMENT}}</h1>
            <label>排量（L）</label>
          </span>
          <span>
            <h1>{{item.TOTAL_MILEAGE}}</h1>
             <label>里程（KM）</label>
          </span>
          <span>
            <h1>{{item.VEHICLE_AGE}}</h1>
            <label>车龄（年）</label>
          </span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="content">
    <div class="connect">
      <!--行驶报告-->
      <div class="content_left con_report">
      </div>
      <!--数据趋势-->
      <div class="content_right con_data">
        <h1><i class="icon"></i>不良/危险驾驶走势</h1>
        <div class="con_dataMod">
          <ul>
            <li class="active">行驶里程</li>
            <li>不良驾驶</li>
            <li>危险驾驶</li>
          </ul>
          <!--行驶里程-->
          <div class="echarts_con ec_active" id="ec_process"></div>
          <!--四急数据-->
          <div class="echarts_con " id="ec_urgentData"></div>
          <!--危险驾驶-->
          <div class="echarts_con " id="ec_dangerous"></div>
        </div>
      </div>
      <!--上月得分-->
      <div class="content_left con_score">
        <h1><i class="icon" style="background: #5ab884;"></i>驾驶评分</h1>
        <div class="score_mod">

        </div>
        <div class="echarts_data" id="echarts_data"></div>
      </div>
      <!--特征标签-->
      <div class="content_right con_tag">
      </div>
    </div>
  </div>
  <div class="head">
    <div class="connect">
      <p>中移物联网有限公司 版权所有    Copyright &copy;2016 iot 10086.cn All Rights Reserved</p>
    </div>
  </div>
  <!--遮罩层-->
  <div class="popup">
    <div class="alertMod connect">
      <h1><i class="icon" style=""></i>场景评分<span id="closeBtn">&times;</span></h1>
      <ul>
        <!--<li style="background: #fff;" id="fi">&nbsp;</li>-->
        <span style="display: block;height:70px;width: 100%;">&nbsp;</span>
        <li class="" style="border-top: 1px solid #eeeff4;" data-id="0">急加速</li>
        <li class="" data-id="11">急减速</li>
        <li data-id="1">急刹车</li>
        <li data-id="7">急转弯</li>
        <li data-id="2">超速驾驶</li>
        <li data-id="8">疲劳驾驶</li>
      </ul>
      <div class="tableMod"></div>
    </div>
  </div>
</div>
<script src="/javascripts/vendor/jquery.min.js"></script>
<script src="/javascripts/vendor/echarts.js"></script>
<script src="/javascripts/index.js"></script>
<script type="text/template" id="listTemplate">
  <h1><i class="icon"></i>行程一览</h1>
  {if ($listData && $listData.length)}
  <div class="content_year">
    <button type="button" class="left_btn">&lsaquo;</button>
    <span>{$listData[$listData.length-1].DNOE_MONTH}</span>
    <button type="button" class="rig_btn">&rsaquo;</button>
  </div>
  {for (var i = 0; i < $listData.length; i++)}
  {js var v = $listData[i]}
  <div class="report_la" data-time="{v.DNOE_MONTH}" style="display: none;">
      <div class="content_label">
          <span><i class="icons icon_stroke"></i>出行次数 ： {v.TRIP_COUNT}（次）</span>
          <span><i class="icons icon_travelTime"></i>行驶时长 ： {v.TRIP_TIME}（H）</span>
      </div>

      <div class="content_label">
          <span><i class="icons icon_mileage"></i>行驶里程 ： {v.TRIP_MILE}（KM）</span>
      </div>

      <div class="content_label">
          <span><i class="icons icon_speed"></i>超速驾驶 ： {v.OVER_SPEED_COUNT}（次）</span>
          <span><i class="icons icon_fat"></i>疲劳驾驶 ： {v.FATIGUE_DRIVING_RATIO}（次）</span>
      </div>

      <div class="content_label">
          <span><i class="icons icon_acceleration"></i>急加速 ： {v.ANXIOUS_ACCELERATION_COUNT}（次）</span>
          <span><i class="icons icon_deceleration"></i>急减速 ： {v.HARSH_DECELERATION_COUNT}（次）</span>
      </div>

      <div class="content_label">
          <span><i class="icons icon_brake"></i>急刹车 ： {v.HARSH_BRAKE_COUNT}（次）</span>
          <span><i class="icons icon_sharp"></i>急转弯 ： {v.HIGH_SPEED_TURN_COUNT}（次）</span>
      </div>

  </div>
  {/for}
  {else}
  <div class="content_year">
    <button type="button" class="left_btn">&lsaquo;</button>
    <span>暂无数据</span>
    <button type="button" class="rig_btn">&rsaquo;</button>
  </div>
  <div class="report_la" data-time="" style="display: none;">
    <div class="content_label">
      <span><i class="icons icon_mileage"></i>行驶里程 ： -（KM）</span>
      <span><i class="icons icon_acceleration"></i>急加速 ： -（次）</span>
    </div>
    <div class="content_label">
      <span><i class="icons icon_travelTime"></i>行驶时长 ： -（H）</span>
      <span><i class="icons icon_deceleration"></i>急减速 ： -（次）</span>
    </div>
    <div class="content_label">
      <span><i class="icons icon_stroke"></i>出行次数 ： -（次）</span>
      <span><i class="icons icon_brake"></i>急刹车 ： -（次）</span>
    </div>
    <div class="content_label">
      <span><i class="icons icon_speed"></i>超速驾驶 ： -（次）</span>
      <span><i class="icons icon_sharp"></i>急转弯 ： -（次）</span>
    </div>
    <div class="content_label">
      <span><i class="icons icon_fat"></i>疲劳驾驶 ： -（次）</span>
    </div>
  </div>
  {/if}

</script>
<script type="text/template" id="labTemp">
  {if ($listData && $listData.length)}
  <table border="0" class="tableActive">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>时段</th>
      <th>道路</th>
      <th>拥堵</th>
      <th>天气</th>
      <th>评分</th>
    </tr>
    </thead>
    <tbody>
    {for (var i = 0; i < $listData.length; i++)}
    {js var v = $listData[i]}
    <tr>
      <td>场景{i+1}</td>
      <td>{v.TIME_RANGE}</td>
      <td>{v.ROAD_TYPE}</td>
      <td>{v.SPEED_PATTERN}</td>
      <td>{v.WEATHER}</td>
      <td>
        <div class="userScore">
          <span>当前用户</span>
          <span class="userScoreMod mineScore" style="width: {v.SCORE}px"></span>
          <span class="score">{v.SCORE}分</span>
        </div>
        <div class="indexScore">
          <span>基准用户</span>
          <span class="userScoreMod indexSo" style="width: {v.BENCHMARK_SCORE}px"></span>
          <span class="score">{v.BENCHMARK_SCORE}分</span>
        </div>
      </td>
    </tr>
    {/for}
    </tbody>
  </table>
  {else}
  <p style="padding-top: 200px;">暂无数据</p>
  {/if}
</script>
<script type="text/template" id="tagTemplate">
  {if ($listData && $listData.length)}
  <h1><i class="icon"></i>特征标签</h1>
  <div style="position: relative;height: 485px;width: 100%">
    {for (var i = 0; i < $listData.length; i++)}
    {js var v = $listData[i]}
    <div style="top:{v.top};left:{v.left};background: {v.color};{v.style}">
      <span style="transform: rotate({v.spanRotate});-moz-transform:rotate({v.spanRotate});-o-transform:rotate({v.spanRotate});-ms-transform:rotate({v.spanRotate});">{v.label}</span>
    </div>
    {/for}
    {/if}
  </div>
</script>
<script type="text/template" id="scoreTemplate">
  {if ($listData && $listData.length)}
  {for (var i = 0; i < $listData.length; i++)}
  {js var v = $listData[i]}
  <span class="score_lis" style="background: {v.color}">
    <i>{v.SCORE}</i>分
  </span>
  <ul>
    <li>驾驶评分</li>
    <li><p title="{v.SUGGESTIONS}">{v.SUGGESTIONS}</p></li>
    <li>
      {for (var d = 0; d < v.STAR; d++)}
      <img src="/images/start.png" alt="">
      {/for}
      {if (v.startTure)}
      <img src="/images/start2.png" alt="">
      {/if}
      {for (var d = 0; d < v.lastStart; d++)}
      <img src="/images/start1.png" alt="">
      {/for}
    </li>
  </ul>
  <button type="button" class="showBtn" style="background: {v.color}">&rsaquo;</button>
  {/for}
  {else}
  <span class="score_lis" style="background: #5ab884">
    <i>0</i>分
  </span>
  <ul>
    <li>驾驶评分</li>
    <li>暂无数据</li>
    <li>
      <img src="/images/start.png" alt="">
      <img src="/images/start2.png" alt="">
      <img src="/images/start1.png" alt="">
    </li>
  </ul>
  <button type="button" class="showBtn" style="background: #5ab884">&rsaquo;</button>
  {/if}
</script>
</body>