<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>中移物联网路尚UBI个人系统</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div id="wrapper" class="clearfix">
  <div class="head">
    <div class="connect">
      <h1><i class="icon icon-ubi"></i>中移物联网路尚UBI个人系统</h1>
    </div>
  </div>
  {% for item in name %}
  <div class="title" style="display: none;">
    <input type="hidden" class="userId" value="{{item.MO_ID}}">
    <div class="connect title_bg">
      <div class="head_mod">
        <div class="head_label" style="height: 280px;">
          <div class="head_span">年龄 - {{item.AGE}}岁</div>
          <div class="head_log">
            <span><img src="/images/car_logs.png" alt="log"></span>
          </div>
          <div class="head_span" style="float: right;">驾龄 - {{item.DRIVING_EXPERIENCE}}年</div>
        </div>
        <div class="head_label">
          <h1>{{item.USER_NAME}}&nbsp;&nbsp;
            {% if(item.GENDER == '男') %}
            <i class="icon icon-boy"></i>
            {% else %}
            <i class="icon icon-girl"></i>
            {% endif %}
            丨&nbsp;&nbsp;车型 - {{item.VEHICLE_MODEL}}</h1>
        </div>
        <div class="head_label head_speed">
          <span>
            <h1>{{item.DISPLACEMENT}}</h1>
            <label>排量（L）</label>
          </span>
          <span>
            <h1>{{item.TOTAL_MILEAGE}}</h1>
             <label>里程（KM）</label>
          </span>
          <span>
            <h1>{{item.VEHICLE_AGE}}</h1>
            <label>车龄（年）</label>
          </span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="content">
    <div class="connect">
      <!--行驶报告-->
      <div class="content_left con_report">
      </div>
      <!--数据趋势-->
      <div class="content_right con_data">
        <h1><i class="icon"></i>数据趋势</h1>
        <div class="con_dataMod">
          <ul>
            <li class="active">行程状态</li>
            <li>四急数据</li>
            <li>危险驾驶</li>
          </ul>
          <!--行程状态-->
          <div class="echarts_con ec_active" id="ec_process"></div>
          <!--四急数据-->
          <div class="echarts_con " id="ec_urgentData"></div>
          <!--危险驾驶-->
          <div class="echarts_con " id="ec_dangerous"></div>
        </div>
      </div>
      <!--上月得分-->
      <div class="content_left con_score">
        <h1><i class="icon" style="background: #5ab884;"></i>上月得分</h1>
        <div class="echarts_data" id="echarts_data"></div>
        <button type="button">查看场景评分</button>
      </div>
      <!--特征标签-->
      <div class="content_right con_tag">
        <h1><i class="icon"></i>特征标签</h1>
        <div style="margin-top: 200px;margin-left:250px;background: #5ab884;">路线稳定</div>
        <div style="margin-top: 150px;margin-left: 364px;background: #f5c638;">老司机</div>
        <div style="margin-top: 256px;margin-left: 150px;background: #6260ab;">绅士司机</div>
        <div style="margin-top: 308px;margin-left: 269px;background: #69c8c4;">经常使用</div>
        <div style="margin-top: 252px;margin-left: 366px;background: #6260ab;">100分</div>
        <div style="margin-top: 150px;margin-left: 150px;background: #f5c638;">要急刹</div>
      </div>
    </div>
  </div>
  <div class="head">
    <div class="connect">
      <p>中移物联网有限公司 版权所有  丨  Copyright &copy;2014 www.heclouds.com 渝ICP备13005647号-6</p>
    </div>
  </div>
</div>
<script src="/javascripts/vendor/jquery.min.js"></script>
<script src="/javascripts/vendor/echarts.js"></script>
<script src="/javascripts/index.js"></script>
<script type="text/template" id="listTemplate">
  {if ($listData && $listData.length)}
  <h1><i class="icon"></i>行驶报告</h1>
  <div class="content_year">
    <button type="button" class="left_btn">&lsaquo;</button>
    <span>{$listData[$listData.length-1].DNOE_MONTH}</span>
    <button type="button" class="rig_btn">&rsaquo;</button>
  </div>
  {for (var i = 0; i < $listData.length; i++)}
  {js var v = $listData[i]}
  <div class="report_la" data-time="{v.DNOE_MONTH}" style="display: none;">
    <div class="content_label">
      <span><i class="icons icon_mileage"></i>行驶里程 - {v.TRIP_MILE}（KM）</span>
      <span><i class="icons icon_acceleration"></i>急加速 - {v.ANXIOUS_ACCELERATION_COUNT}（次）</span>
    </div>
    <div class="content_label">
      <span><i class="icons icon_travelTime"></i>行驶时长 - {v.TRIP_TIME}（H）</span>
      <span><i class="icons icon_deceleration"></i>急减速 - {v.HARSH_DECELERATION_COUNT}（次）</span>
    </div>
    <div class="content_label">
      <span><i class="icons icon_stroke"></i>行程数量 - {v.TRIP_COUNT}（次）</span>
      <span><i class="icons icon_brake"></i>急刹车 - {v.HARSH_BRAKE_COUNT}（次）</span>
    </div>
    <div class="content_label">
      <span><i class="icons icon_speed"></i>超速驾驶 - {v.OVER_SPEED_COUNT}（次）</span>
      <span><i class="icons icon_sharp"></i>急转弯 - {v.HIGH_SPEED_TURN_COUNT}（次）</span>
    </div>
    <div class="content_label">
      <span><i class="icons icon_fat"></i>疲劳驾驶 - {v.FATIGUE_DRIVING_RATIO}（次）</span>
    </div>
  </div>

  {/for}
  {/if}
</script>
</body>